<div>
    <h3>Home Page</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Angular</div>
        <div class="panel-body">
            Angular is a development platform for building mobile and desktop web applications.
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">TypeScript</div>
        <div class="panel-body">
            TypeScript is a typed superset of JavaScript that compiles to plain JavaScript.
        </div>
    </div>
</div>